.cards__container {
  background-color: rgb(255, 255, 255);
  padding: 1px;
}

.cards__title-text {
  text-align: left;
  margin-left: 1%;
  font-size: 4rem;
  font-weight: bold;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  gap: 20px;
  padding: 1% 0px;
}

.card-link {
  display: block; /* Ensure the link takes up the entire card space */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.cards__content {
  padding: 20px; /* Adjust padding as needed */
  background-color: #ffffff; /* Ensure the clickable area is visually distinct */
  border-radius: 10px; /* Optional: Rounded corners for card */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  transition: transform 0.2s ease-in-out; /* Optional: Add a subtle hover effect */
  text-align: center;
}

.cards__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.cards__image {
  margin-top: 5%;
  max-width: 50%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}
.cards__description {
  font-size: 1rem;
  line-height: 1.6;
}

.cards__graph {
  max-width: 700px;
}

.cards__graphs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.cards__end-text {
  text-align: center;
  margin-left: 1%;
  font-size: 2rem;
  padding-bottom: 5%;
}

.cards__end-image {
  padding-left: 50%;
  padding-bottom: 1%;
}

@media screen and (max-width: 1200px) {
  .cards__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
