.title {
  color: white;
  text-align: center;
  font-family: Lora, "Times New Roman", serif;
  font-size: 3.5rem;
  padding: 11% 0px;
}
.title__subtitle {
  font-family: Lora, "Times New Roman", serif;
  font-style: italic;
  font-size: 3.125rem;
  margin-top: 10px;
  padding-bottom: 6%;
}

.title__subheading {
  text-align: left;
  line-height: 1.2;
  max-width: 50%;
  margin-left: 10%;
  font-family: Lora, "Times New Roman", serif;
  font-size: 1.3rem;
}
